<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Document</title>
</head>

<body>

    <div class="w3-bar w3-blue-grey">
        <div class="w3-bar-item">Python-web</div>
    </div>

    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-col s12 m4 l4 ">

                <div class="w3-card-4 w3-margin-top">


                    <div class="w3-container">
                        <form action="/add-alumno" method="POST" class="w3-container">

                            <label>Nombre completo:</label>
                            <input class="w3-input" name="nombre_completo" type="text">
                            
                            <label>Email:</label>
                            <input class="w3-input" name="email" type="text">

                            <button type="submit" class="w3-btn w3-blue-grey w3-block w3-round-xxlarge">Registrar</button>
                            
                        </form>
                    </div>


                </div>

            </div>
            <div class="w3-col s12 m8 l8 ">

                <div class="w3-card-4 w3-margin-top w3-margin-left">
                    <table class="w3-table w3-striped">
                        <tr>
                          <th>ID</th>
                          <th>Nombre Completo</th>
                          <th>Email</th>
                        </tr>
                        <tbody>
                            {% for row in rows %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
            
                      </table>
                </div>

            </div>
        </div>
    </div>

</body>

</html>