<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Document</title>
</head>
<body>

    <div class="w3-bar w3-blue">
        <div class="w3-bar-item w3-button w3-mobile">python-web</div>
    </div>
    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-col s6 m6 l6">
                <form class="w3-container">

                    <label class="w3-text-blue"><b>First Name</b></label>
                    <input class="w3-input w3-border" type="text">
                     
                    <label class="w3-text-blue"><b>Last Name</b></label>
                    <input class="w3-input w3-border" type="text">
                    
                    <button class="w3-btn w3-blue">Register</button>
                     
                </form>
            </div>
            <div class="w3-col s6 m6 l6">
                <table class="w3-table w3-striped w3-border">
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Points</th>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                    </tr>
                    <tr>
                      <td>Adam</td>
                      <td>Johnson</td>
                      <td>67</td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
    
</body>
</html>